/* 定义一些公用的style，采用BEM(block-element__modifier)的规则进行命令，以及使用公共命名空间。*/
/*
.l- layouts（全局使用的布局)
*/
@import "variables";
@import "mixins";

view{
	box-sizing: border-box;
}

/* layouts */
// 横向排列item的盒子
.l-row{
	@include rowBox();
}

// 纵向排列item的盒子
.l-col{
	@include colBox();
}

// 横向盒子且垂直水平居中
.l-rowAllMid{
	@include rowBox();
	@include allMidBox();
}

// 横向盒子且垂直居中
.l-rowVerMid{
	@include rowBox();
	@include colMidBox();
}

// 横向盒子且水平居中
.l-rowJusMid{
	@include rowBox();
	@include rowMidBox();
}

// 竖向盒子且垂直水平居中
.l-colAllMid{
	@include colBox();
	@include allMidBox();
}

// 竖向盒子且垂直居中
.l-colVerMid{
	@include colBox();
	@include rowMidBox();
}

// 竖向盒子且水平居中
.l-colJusMid{
	@include colBox();
	@include colMidBox();
}

.relative{
	position: relative;
}
.absolute{
	position: absolute;
}