/* 主色调&字体规范 */

/* 颜色 */
$blue: #394AE6; // 主题蓝色
$black: #41424D; // 主题黑色
$grey: #818399; // 主题灰色
$lightGrey: #f5f5f5;
$white: #ffffff;

/* 字体 */
$fontSize_huge: 18rpx;
$fontSize_small: 16rpx;

/* 圆角 */
$radius_huge: 22rpx;
$radius_small: 4rpx; 

